@import "root.css";

body {
  background: #282d47;
  color: white;
}

/* Fonts */
.title-font {
  font-size: var(--font-size-lg);
  font-weight: 300;
}

.subtitle-font {
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--text-color-03);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  background-color: var(--other-color-01);
}

/* Delete it later */

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 135px;
  padding: 0 50px;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.05); */
}

.header h1 {
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 74px;
  padding: 0 50px;
  color: white;
  /* background-color: rgba(255, 2552, 255, 0.05); */
}

/*  */

.chat {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 436px 1fr 436px;
  grid-template-rows: 80px 1fr 40px;
  grid-template-areas:
    "chats-header current-chat-header members-header"
    "chats-list   messages            members-list"
    "chats-list   message             members-list";
}

.chats-header {
  grid-area: chats-header;
  padding: 0 var(--layout-padding-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.chats-header__tools {
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.chats-header__tools-button {
  width: 28px;
  height: 28px;
  margin-left: 2px;
  color: var(--text-color-02);
  transition: var(--transition-normal);
}

.chats-header__tools-button:hover {
  color: var(--text-color-01);
}

.chats-header__tools-button--rounded {
  border-radius: 9px;
  color: var(--text-color-03);
  background: var(--gradient-color-01);
}

.current-chat-header {
  grid-area: current-chat-header;
  padding: 0 var(--layout-padding-base);
  display: flex;
  align-items: center;
  /* background-color: orange; */
}

.members-header {
  grid-area: members-header;
  padding: 0 var(--layout-padding-base);
  display: flex;
  align-items: center;
  /* background-color: green; */
}

.chats-list {
  grid-area: chats-list;
  padding: 0 var(--layout-padding-base);
  /* background-color: rgb(194, 53, 53); */
  border-right: 2px solid var(--other-color-02);
}

.channels-list {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.channel {
  height: 78px;
  padding: 12px 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 11px;
  background: var(--gradient-color-01);
}

.channel__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}

.channel__container div {
  display: flex;
}

.channel__container--middle {
  flex: 1;
  margin: 0 14px;
}

.channel__conteiner--right {
  align-items: end;
}

.channel__avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--other-color-03);
}

.channel__name {
  font-size: var(--font-size-base);
  font-weight: 300;
}

.channel__last-message {
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--text-color-02);
}

.channel__fav {
  color: var(--other-color-04);
}

.channel__participants {
  margin-right: 10px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text-color-03);
}

.channel__last-time {
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--text-color-02);

  text-transform: capitalize;
}

.members-list {
  grid-area: members-list;
  padding: 0 var(--layout-padding-base);
  border-left: 2px solid var(--other-color-02);
  /* background-color: rgb(34, 134, 34); */
}

.messages {
  grid-area: messages;
  padding: 0 var(--layout-padding-base);
  /* background-color: rgb(209, 144, 23); */
}

.message {
  grid-area: message;
  padding: 0 var(--layout-padding-base);
  /* background-color: rgb(182, 137, 53); */
}
