@import "root.css";

body {
  background: #282d47;
  color: white;
}

/* Fonts */
.title-font {
  font-size: var(--font-size-lg);
  font-weight: 300;
}

.subtitle-font {
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--text-color-03);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  /* max-width: 1600px; */
  /* temporary width */
  width: 1200px;
  background-color: var(--other-color-01);
}

/* Delete it later */

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 135px;
  padding: 0 50px;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.05); */
}

.header h1 {
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 74px;
  padding: 0 50px;
  color: white;
  /* background-color: rgba(255, 2552, 255, 0.05); */
}

/*  */

.chat {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 436px 1fr 436px;
  /* grid-template-columns: 436px 500px 436px; */
  grid-template-rows: 80px 1fr 40px;
  grid-template-areas:
    "chats-header current-chat-header members-header"
    "chats-list   messages            members-list"
    "chats-list   message             members-list";
}

.tools-primary {
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.tools-primary-button {
  width: 28px;
  height: 28px;
  margin-left: 2px;
  color: var(--text-color-02);
  transition: color var(--transition-normal);
}

.tools-primary-button:hover {
  color: var(--text-color-01);
}

.tools-primary-button--rounded {
  border-radius: 9px;
  color: var(--text-color-03);
  background: var(--gradient-color-01);
}

.tools-primary-button--rounded-lg {
  width: 40px;
  height: 40px;
}

.chats-header {
  grid-area: chats-header;
  padding: 0 var(--layout-padding-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.current-chat-header {
  grid-area: current-chat-header;
  padding: 0 var(--layout-padding-base);
  display: flex;
  align-items: center;
  /* background-color: orange; */
}

.members-header {
  grid-area: members-header;
  padding: 0 var(--layout-padding-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: green; */
}

.chats-list {
  grid-area: chats-list;
  padding: 0 var(--layout-padding-base);
  /* background-color: rgb(194, 53, 53); */
  border-right: 2px solid var(--other-color-02);
}

.chats-list-type {
  margin-top: 1.5rem;
}

.channels-list {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.channel {
  position: relative;
  z-index: 1;
  height: 78px;
  padding: 12px 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 11px;
  cursor: pointer;
  user-select: none;
  transition: transform var(--transition-normal);
}

.channel:hover {
  transform: translateX(5px);
}

.channel--active::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: var(--gradient-color-01);
  border-radius: inherit;
  opacity: 1;
  transition: opacity var(--transition-normal);
  box-shadow: var(--box-shadow-01);
}

.channel--active:hover::after {
  opacity: 1;
}

.channel__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}

.channel__container div {
  display: flex;
}

.channel__container--middle {
  flex: 1;
  margin: 0 14px;
}

.channel__container--right {
  align-items: flex-end;
}

.channel__conteiner--priv {
  justify-content: end;
}

.channel__avatar {
  width: 50px;
  height: 50px;
  /* fix variable img */
  background-image: url("../img/tag_black_24dp.svg");
  background-size: contain;
}

.channel__user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--other-color-03);
}

.channel__name {
  font-size: var(--font-size-base);
  font-weight: 300;
}

.channel__last-message {
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--text-color-02);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18rem;
}

.channel__fav {
  color: var(--other-color-04);
}

.channel__participants {
  margin-right: 10px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text-color-03);
}

.channel__last-time {
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--text-color-02);
}

.members-list {
  grid-area: members-list;
  padding: 0 var(--layout-padding-base);
  border-left: 2px solid var(--other-color-02);
  /* background-color: rgb(34, 134, 34); */
}

.members-list-type {
  margin-top: 1.5rem;
}

.members-list__list {
  margin: 18px 0;
  display: flex;
  flex-direction: column;
}

.member {
  position: relative;
  z-index: 1;
  height: 40px;
  padding: 12px 8px 12px 0px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 11px;
  user-select: none;
  transition: transform var(--transition-normal);
}

.member:hover {
  transform: translateX(5px);
}

.member__avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--other-color-03);
}

.member__name {
  flex: 1;
  margin: 0 14px;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--text-color-02);
}

.messages {
  grid-area: messages;
  padding: 0 var(--layout-padding-base);
  /* background-color: rgb(209, 144, 23); */
}

.message {
  grid-area: message;
  padding: 0 var(--layout-padding-base);
  /* background-color: rgb(182, 137, 53); */
}
