@import "main.css";

.btn__border {
    margin-left: 0;
}

.create-account__wrapper {
    border: 1px solid var(--color-dark-05);
    border-radius: var(--border-radius);
    padding: var(--padding-sm) var(--padding-lg);
    width: 30%;
    text-align: center;
    margin-bottom: var(--margin-sm);
}

.create-account__txt--gray {
    color: var(--color-dark-02);
}

.create-account__txt--purple {
    color: var(--color-dark-05);
}







