@import "main.css";

.btn_sign-up {
    margin-left: 0;
}

.btn_sign_in {
    width: 30%;
}

.create-account-box {
    border: 1px solid var(--purple);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    width: 30%;
    text-align: center;
    margin-bottom: 1rem;
}

.btn-sign-in-guess {
    width: calc(30% + 3rem);
}








