@import "root.css";

/* ----- HEADER ----- */

.header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo__btn {
    display: flex;
    align-items: center;
}

.header__logo__img {
    height: calc(var(--header-height) - var(--padding-base));
    margin-right: var(--logo-margin);
}

.header__logo__txt {
    font-weight: 500;
    font-size: var(--font-size-lg);
}

.header__right_section {
    display: flex;
    align-items: center;
}

.switch {
    display: inline-block;
    height: var(--font-size-base);
    position: relative;
    width: var(--switch-width);
    margin-right: var(--margin-base);
}

.switch input {
    display:none;
}

.switch__slider {
    background-color: rgba(81, 64, 165, 0.7);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.switch__slider:before {
    bottom: calc((var(--font-size-base) - var(--font-size-lg)) / 2);
    content: "";
    height: var(--switch-slider);
    left: 0;
    position: absolute;
    transition: .4s;
    width: var(--switch-slider);
}

input:checked + .switch__slider {
    background-color: var(--color-dark-05);
}

input:checked + .switch__slider:before {
    transform: translateX(calc(var(--switch-width) - var(--switch-slider)));
    background-color: var(--color-dark-01);
}

.switch__slider.round {
    border-radius: 2rem;
}

.switch__slider.round:before {
    border-radius: 50%;
    background-color: var(--color-dark-05);
}

.btn__border {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1.5rem;
    padding: var(--padding-sm);
    margin-left: var(--margin-sm);
}

/* ----- FOOTER ----- */
.footer {
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__txt {
    font-size: var(--font-size-sm);
    color: var(--color-dark-02);
}

/* ----- TEMPLATE ----- */

.label {
    display: flex;
    flex-direction: column;
}

.label__txt {
    color: var(--color-dark-02);
    margin-bottom: var(--margin-sm);
}

.label__input {
    margin-bottom: var(--margin-sm);
    background-color: var(--color-dark-10);
    padding: calc(var(--font-size-base) / 3);
    border-color: var(--color-dark-02);
    border-style: solid;
    border-radius: var(--border-radius);
    box-shadow: none;
    text-shadow: none;
    color: var(--text-color-01);
}

.label__input:focus {
    border-color: var(--color-dark-05);
    outline: none;
}

.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border-radius: var(--border-radius);
    background-color: var(--color-dark-05);
}

.container__wrapper {
    padding: var(--padding-base);
    background: var(--gradient-dark-01);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: var(--margin-lg);
}

.cursor {
    cursor: pointer;
}

.container {
    height: calc(100vh - var(--header-height) - var(--footer-height) - 2 * var(--padding-lg));
    width: calc(100% - 2 * var(--padding-lg));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-base);
}

.container__title {
    font-size: var(--font-size-lg);
    margin-bottom: var(--margin-lg);
}

.container__btn {
    display: flex;
    justify-content: center;
    margin-top: var(--border-radius);
}

.btn__sign-in-guess {
    width: 30%;
}

