@import "./reset.css";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    /*DARK MODE*/
    --dark-blue: #1F1E30;
    --white: #FFFFFF;
    --purple: #5140A5;
    --gray: #898C99;
    --yellow: #F0C340;
    --red: #AF4747;

    /*LIGHT MODE*/
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background:
        url(../img/home-page-img-dark.svg)
        center right -10% / 110vh
        no-repeat
        fixed
        var(--dark-blue);
    color: var(--white);
    width: 100vw;
    height: 100vh;
}
body {
    padding: 1.5rem 2rem;
}

/*HOME PAGE - HEADER*/

.header_home-page {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    height: 2rem;
    margin-right: .5rem;
}

.logo_name-txt {
    font-weight: 500;
    font-size: 1.3rem;
}

.header_home-page-right-section {
    display: flex;
    align-items: center;
}

.switch {
    display: inline-block;
    height: 1.2rem;
    position: relative;
    width: 3rem;
    margin-right: 1.5rem;
}

.switch input {
    display:none;
}

.slider {
    background-color: rgba(81, 64, 165, 0.7);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    bottom: -.15rem;
    content: "";
    height: 1.5rem;
    left: 0;
    position: absolute;
    transition: .4s;
    width: 1.5rem;
}

input:checked + .slider {
    background-color: var(--purple);
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--white);
    box-shadow:0px 0px 0px 2px var(--purple) inset;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    background-color: var(--purple);
}

.btn_sign-up {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: .5rem;
    padding: .5rem;
    margin-left: 1rem;
}

/*HOME PAGE - MAIN*/
.main_home-page {
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    font-size: 1.2rem;
    width: 50%;
}

.title_home-page {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.home-page-container-center {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    align-items: center;
}

.home-page-container-center-stats {
    margin-right: 2rem;
    padding:1rem;
    border-radius: .5rem;
    width: 30%;
    background: rgb(81,64,165);
    background: linear-gradient(120deg, rgba(81,64,165,0.22) 0%, rgba(81,64,165,0) 100%);
    display: grid;
    grid-template-columns: 70% 20%;
    grid-template-rows: 1.5rem 1.5rem;
    gap: 1% 1%;
}

.stats-title {
    color: var(--purple);
    align-self: center;
}

.stats-count-users {
    align-self: center;
}

.stats-count-channels {
    align-self: center;
}

.home-page-container-center-channels {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.grid_container{
    display: grid;
    grid-template-columns: 4% 6% 50% 5% 8% 17%;
    grid-template-rows: 2rem 2rem 2rem;
    gap: 2% 1%;
}

.grid_no {
    align-self: center;
}

.grid_avatar {
    height: 1.7rem;
    align-self: center;
}

.grid_name {
    align-self: center;
}

.grid_count-users {
    color: var(--purple);
    align-self: center;
}
.grid_icon {
    color: var(--purple);
    align-self: center;
}
.grid_btn-join {
    font-size: .7rem;
    background-color: var(--purple);
    border-radius: .5rem;
    align-self: center;
    padding: .4rem .2rem;
}

.top_channels {
    margin-bottom: 1rem;
}

.home-page-container-bottom {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.home-page-container-bottom-btn {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--purple);
}

/*FOOTER*/
.footer {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-txt {
    font-size: .8rem;
    color: var(--gray);
}


