@import "main.css";

.user-avatar__btn {
    display: flex;
    align-items: center;
    margin-left: var(--margin-sm);
}

.user-avatar__img {
    height: calc(var(--header-height));
}

.bxs-file-plus {
    margin-right: var(--margin-sm);
}

.btn__sign-in-guess--gray {
    background-color: var(--color-dark-02)
}
