@import "../main.css";
@import "../components/user-navigation.css";

.user-avatar__btn {
    display: flex;
    align-items: center;
    margin-left: var(--margin-sm);
}

.user-avatar__img {
    height: calc(var(--header-height));
}

.bxs-file-image {
    margin-right: var(--margin-sm);
}

.btn__sign-in-guess {
    background-color: var(--color-dark-02)
}
